body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF; 
}

a {
    text-decoration: none;
    color: currentColor;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

.container { 
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;  
    margin: 0 auto; 
}

.header-container {
    display: flex;
    align-items: center;
}

.section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*! ---------------BEGIN------------ */

.header {
    border-bottom: 1px solid #E7E9FC;

}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.header-logo-part {
    color: #2E2F42;
}

.header-nav-list {
    display: flex;
    gap: 40px;
}
.header-nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color:  #404BBF;
}
.header-address {
    font-style: normal;
    margin-left: auto;
}

.header-address-list {
    display: flex;
    gap: 40px;
}

.header-address-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;

}

.header-address-link:hover,
.header-address-link:focus {
    color: #404BBF;
}

/* --------------------ONE---------------- */

.one {
    background-color: #2E2F42;
    align-items: center;
    width: 100%;
    padding-top: 188px; 
    padding-bottom: 188px;
}

.one-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; 
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 48px;
}

.one-button {
    padding: 16px 32px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    gap: 10px;
    cursor: pointer;
}

.one-button:hover,
.one-button:focus {
    background-color: #404BBF;
}

/*? ------------------TWO---------------- */

.two {

}

.two-list {
    display: flex;
    gap: 24px;
}

.two-item {
    width: calc((100% - 24px * 3) / 4);
}

.two-criteria {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    max-width: 264px;
}

.two-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

/*! ---------------THREE---------------- */

.three {
    background-color: #F4F4FD;
}

.three-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: 0 auto 72px;
}

.three-list {
    display: flex;
    gap: 24px;
}

.three-item {
    background-color: #FFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: calc((100% - 24px * 3) / 4);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.three-cont {
    display: flex;
    width: 232px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.three-list-name {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.three-list-text {
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*? ---------------PORTFOL------------- */
.portfolio section {
    border: 1px solid #e7e9fc;
}

.portfolio-titl {
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin: 0 auto 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}


.portfolio-item {
    max-width: 360px;
    width: calc((100% - 48px) / 3);
    border: 1px solid #E7E9FC;
    border-top: none;
}

.portfolio-item-img {
}

.portfolio-cont {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-item-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* --------------FOOTER----------- */

.footer {
    background-color: #2E2F42;
    padding: 100px 0 100px;
}

.footer-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.footer-logo-part {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

/*? ------------------END-------------- */


